.tagList {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 0;
  }
  
  .tagList .tag {
    padding: 4px 5px;
    border-radius: 10px;
    background-color: var(--main-red);
    color: white;
    text-align: center;
    font-size: 0.8rem;
    white-space: nowrap;
  }
