.container {
  margin: 20px 10%;
}

.equipments {
  padding: 0 10px;
}

.equipments:first-child{
  padding-top: 10px;
}

.equipments:last-child {
  padding-bottom: 10px;
}

header > p,
.location {
  padding: 0;
}

.containerInfos {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.containerCollapse {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 60px;
  margin-top: 20px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 0;
  color: var(--main-red);
}

.title {
  font-size: 1.4rem;
}

.location {
  font-size: 0.8rem;
}

@media (max-width: 767px) {
  .row,
  .containerCollapse {
    flex-direction: column;
  }

  .containerCollapse {
    gap: 30px;
  }

  .containerCollapse * {
    width: 100%;
  }
}
