.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding: 40PX;
  background: #f6f6f6;
  margin: 20px 10%;
  border-radius: 15px;
}

@media screen and (max-width: 1199px) {
  .gridContainer { 
    padding: 10PX;
    gap: 10px;
  }
}

@media screen and (max-width: 767px) {
  .gridContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}
