.container {
  margin: 20px 5%;
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background: #f6f6f6;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  box-sizing: border-box;
}

@media screen and (min-width: 600px) {
  .gridContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}
