footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  text-align: center;
  width: 100%;
}

footer img {
  padding: 30px 0 20px;
}